<footer class="footer">
  <div class="wrapper padding">
    <div class="row">
      <div class="col">
        <a href="/">
          {{ media["theme://images/PetersenWest-logo.svg"].html()|raw }}
        </a>
      </div>
      <div class="w-100"></div>
      <div class="col-lg-4">
        <div class="footer-menu">
          <span class="footer-menu-header">Location</span><br>
          <span itemprop="address">
            <span itemprop="streetAddress">170 S Mountain Way Dr. #102</span><br>
            <span itemprop="addressLocality">Orem</span>, <span itemprop="addressRegion">UT</span> <span itemprop="postalCoad">84058</span>
          </span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-menu">
          <span class="footer-menu-header">Contact</span><br>
          <a href="tel:+13854479646"><span itemprop="telephone">385-447-9646</span></a><br>
          <a href="mailto:hello@petersenwest.com"><span itemprop="email">hello@petersenwest.com</span></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-menu">
          <span class="footer-menu-header">Connect</span><br>
          <a href="https://www.instagram.com/petersenwest/?hl=en" 
             rel="noopener noreferrer nofollow"
             target="_blank">Instagram</a>
          <br>
          <a href="https://www.facebook.com/PetersenWest-1816340708579920/" 
             rel="noopener noreferrer nofollow"
             target="_blank">Facebook</a>
          <br>
          <a href="https://www.linkedin.com/company/petersenwest" 
             rel="noopener noreferrer nofollow"
             target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</footer>