/* Footer ------------------------------------------------------------------- */

.footer {
  background-color: #222222;
  font-weight: 700;
  font-size: 1.2em;
  &, a, p, span{
    color: #B9B9B9;
  }
  
  .footer-menu{
    padding: 2rem 0;
  }
  
  .footer-menu-header{
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .sub-footer{
    background-color: #333333;
    font-size: 1rem;
    padding: 0.5px 0;
    font-weight: 400;
  }
}