/* Navigation --------------------------------------------------------------- */

$navColor: white;

nav.main-nav{
  ul{
    text-align: right;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
    
    li{
      display: inline-block;
      letter-spacing: normal;
      position: relative;
      
      ul{
        position: absolute;
        background-color: #1F8DD6;
        min-width: 100%;
        text-align: left;
        z-index: 999;
        display: none;
        
        li{
          display: block;
        }
        
        ul{
          left: 100%;
          top: 0;
        }
      }
      
      a{
        position: relative;
        display: block;
        line-height: 45px;
        color: #fff;
        padding: 0 20px;
        white-space: nowrap;
        &, &:hover{
          text-decoration: none;
        }
      }
      & > a{
        padding: 0;
        margin: 0 20px;
        opacity: 0.6;
        font-size: 0.85em;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.1714em;
        border-bottom: 1px solid transparent;
        transition: all 300ms linear;
      }
      &:hover > ul {
        display: block;
      }
      &:hover, &.selected{
        & > a {
          background-color: transparent;
          color: $navColor;
          border-bottom-color: $navColor;
          opacity: 1;
        }
      }
    }
  }
  
  .has-children > a{
    padding-right: 30px;
    &:after{
      font-family: FontAwesome;
      content: '\f107';
      position: absolute;
      display: inline-block;
      right: 8px;
      top: 0;
    }
  }
  .has-children .has-children > a:after {
    content: '\f105';
  }
}