/* Pagination --------------------------------------------------------------- */

ul.pagination{
  display: block;
  list-style-type: none;
  margin: 0 auto;

  li{
    float: left;
    text-align: center;
    margin: 0 1em;
    a{
      display: block;
      border: 1px solid black;
      border-radius: 50%;
      line-height: 2.5em;
      width: 2.5em;
      height: 2.5em;
    }
    &.currentpage a{
      border-color: green;
    }
  }
}