/* Utilities ---------------------------------------------------------------- */

.wrapper {
  margin: 0 3rem;
}

.padding {
  padding: 3rem 1rem;
}

.left {
  float: left;
}

.right {
  float: right
}

img.small {
  max-width: 94px;
}

$button-hover-color: #175E91;

.bottom-link{
  text-transform: uppercase;
  font-weight: 700;
  color: #222;
  font-size: 1.42em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  img, svg{
    margin: 0;
    width: auto;
    display: inline;
    &.button-chevron{
      margin-left: 1em;
    }
    &.button-stack{
      margin-left: 3em;
    }
  }

  &:hover{
    color: $button-hover-color;
    & .button-chevron rect {
      fill: $button-hover-color;
    }
    & .button-stack g {
      stroke: $button-hover-color;
    }
  }
}

.owl-carousel {
  touch-action: manipulation;
  position: relative;
  padding-bottom: 3em;

  &:after, &:before{
    height: 100%;
    width: 133px;
    position: absolute;
    top: 0;
    bottom: 0;
    content: "";
  }

  &:before{
    left: 0;
    background: -moz-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
    z-index: 1;
  }

  &:after{
    right: 0;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  }
}